// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;

$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;



$azuloscuro: #153742;
$azuloscuro2: rgb(11, 81, 100);
$rojo: rgb(189, 77, 77);
$rojohover: rgb(110, 10, 10);
$verde: rgb(54, 122, 54);
$verdehover: rgb(4, 65, 4);
$cyan: #0da08f;
$cyan2:rgb(13, 95, 86);
$azuloscuro3: rgb(21, 55, 66);

$azul: #3d5296;
$azulhover: rgb(11, 11, 128);